$color_white: white;
$color_white2: #fefefe;
$font_family_inherit: inherit;
$background_color_banner: #17141f;
$background_color_inherit: inherit;
$background_color_border: red;
$background_color_ac_purple: #573699;


.padding-1 {
  padding: 1em;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container {
  width: 10em;
  height: 10em;
  border: 0.1em solid #d6d6d6;
}

.margin-1 {
  margin: 1em;
}

.col-0 {
  width: 0em;
}

.ac-upload-label {
  display: inline-block;
  text-align: center;
  color: #fefefe;
  background-color: #573699;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.box {
  background-color: #f9f6f9;
  overflow: auto;
  border: 0.1em solid #d6d6d6;
  border-radius: 1em;
  display: flex;
}

.loader {
  border: 1em solid #f3f3f3;
  border-radius: 50%;
  border-top: 1em solid #3498db;
  width: 5em;
  height: 5em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 3em;
  -webkit-animation: spin 2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
